*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.bar
{
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    background-color:#2C2C32;
}
.logo
{
    width: 25%;
    display: flex;
}
.logo img
{
    width: 80px;
    border-radius: 50px;
}
.left-nav-list
{
    display: flex;
    width: 70%;
    height: 60px;
    background-color:#2C2C32;
    justify-content: center;
    align-items: center;
}
.left-nav-list li
{
    padding: 15px 25px;
    list-style: none;
}
.left-nav-list li a
{
    color: white;
    font-size: 27px;
    text-decoration: none;
}
.left-nav-list li a:hover
{
    color: darkgray;
}
.toggle-search img
{
    position: absolute;
    left: 1%;
    top:1.4px;
    width: 42px;
    display: none;
    cursor: pointer;
}
.right-nav-list
{
    display: flex;
    width: 30%;
    background-color:#2C2C32;
    justify-content:center;
    align-items: center;
    height: 60px;
}
.background
{
    background-position: center;
}
.background img
{
    width: 100%;
    max-width: 100%;
}
#search
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 220px;
    height: 50px;
    font-size: 20px;
    background-color:white;
    border: none;
}
.search-btn
{
    float: right;
    border: none;
    background-color:white;
    height: 60px;
}
.search-btn img
{
    cursor: pointer;
    width: 30px;
}
.navbar-toggle
{
    position: absolute;
    right: 3%;
    top: 12px;
    display: none;
    cursor: pointer;
}
.icon-bar
{
    width: 25px;
    background-color: white;
    height: 2.5px;
    margin: 5px 4px;
    border-radius: 5px;
}
#ssearch
{
    left: 55px;
    top: 0;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    width: 40%;
    height: 50px;
    font-size: 20px;
    background-color:white;
    border: none;
}
.search-bar
{
    display: none;
}
footer
{
    position:fixed;
    bottom: 0;
    background-color:#2C2C32;
    height: 100px;
    width: 100%;
}
@media (max-width:1240px){
    .left-nav-list
    {
        flex-direction: column;
        text-align: center;
    }
    .toggle-search img
    {
        display: block;
    }
    .bar
    {
        height: 400px;
        transition: all 0.5s cubic-bezier(0, 0, 0.65, 1.3);
    }
    .search-bar
    {
        display: block;
    }
    .ssearch-bar
    {
        display: none;
    }
    .media-bar
    {
        background-color:#2C2C32;
        height: 60px;
    }
    .media-list
    {
        display: none;
    }
    .media-search-list
    {
        display: none;
    }
    .navbar-toggle{
        display: block;
        background-color:rgb(14, 93, 167);
        border: 3px solid rgb(14, 93, 167);
        border-radius: 4px;
    }
}
