*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(211, 211, 211);
    scroll-behavior: smooth;
}
.horizontal-bar {
    margin-top: 65px;
    position: fixed;
    width: 100%;
    background-color: #2C2C32;
}
.horizontal-bar a
{
    font-size: 52px;
    text-decoration: none;
    text-align: center;
    color: white;
}
.horizontal-bar a:hover
{
    background-color: black;
}
.intro
{
    font-family:arial;
}
.intro h1
{
    text-align: center;
    font-size: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.python-intro
{
    top: 0;
    padding-left: 350px;
    justify-content: center;
    width: 70%;
}