*{
    margin: 0;
    padding: 0;
}
html{
    background-color: rgb(211, 211, 211);
    scroll-behavior: smooth;
}
.horizontal-bar {
    width: 100%;
}
.horizontal-bar td
{
    text-decoration: none;
}
.intro
{
    font-family:arial;
}
.intro h1
{
    font-size: 50px;
    padding-left: 350px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.python-intro
{
    top: 0;
    padding-left: 350px;
    justify-content: center;
    width: 70%;
}