*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.search-page
{
    justify-content: center;
    align-items: center;
    width: 50%;
    padding-left: 20px;
    padding-top: 35px;
}
.search-page h2
{
    color: #493c3c;
    font-size: 20px;
    padding-bottom: 25px;
    font-weight: lighter;
    font-family:sans-serif;
}
.search-page p
{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 25px;
}
.search-page-form
{
    display: flex;
}
.search-page-input
{
    padding-left: 8px;
    border: 2px solid black;
}
.search-page-btn
{

    padding-top: 3px;
    background-color: seashell;
    border: none;
}
.search-page-btn img
{
    background-color: seashell;
    border: none;
    width: 30px;
}